

<h1 class="text-center" style="margin-top: 20px;"> Liste de commandes</h1>
<div style="margin-left: 120px; margin-top: 80px;">
<a class="btn btn-danger" href="#">
  <span class="fas fa-bell" style="width: 200px;">  Décation d'un accident   </span>
</a>
</div>


<section class="shopping-cart spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="cart-table">
                  <table>
                      <thead>
                          <tr>
                             
                              <th>produit</th>
                              <th>Quantité</th>
                              <th>Region</th>
                              <th>Etat</th>
                              
                          </tr>
                      </thead>
                      <tbody>
                         
                          <tr >
                              
                              <th class="cart-pic"> </th>
                              <th ></th>
                              <th></th>
                              <th>
                                <div class="btn-group">
                                  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    En attante
                                  </button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item">peakup</a>
                                    <a class="dropdown-item" >encours</a>
                                    <a class="dropdown-item" >annulé</a>
                                    <a class="dropdown-item">Retour</a>
                                  </div>
                                </div>
                              </th>
                            
                          </tr>
                         
                      </tbody>
                  </table>
                  
              </div>
           
          </div>
          <div class="col-lg-4 offset-lg-4">
            <div class="proceed-checkout">
                <a  class="proceed-btn"  >VALIDER</a>
            </div>
        </div>
      </div>
  </div>
</section>
