

<h1 class="text-center" style="margin-top: 20px;"> Supprimer Client</h1>
<form class="d-none d-sm-inline-block form-inline  navbar-search" style=" margin-left: 100px; margin-top: 50px;">
    <div class="input-group" >
      <input type="text" class="form-control  border-5 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" style="border-color: black;">
      <div class="input-group-append">
        <button class="btn btn" type="button" style="background-color: #e7ab3c;" >
          <i class="fas fa-search fa-sm"></i>
        </button>
      </div>
    </div>
  </form>
<section class="shopping-cart spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="cart-table">
                  <table>
                      <thead>
                          <tr>
                              <th>id</th>
                              <th>Nom</th>
                              <th>Prénon</th>
                              <th>Adresse</th>
                              <th>Supprimer</th>
                              
                          </tr>
                      </thead>
                      <tbody>
                         
                          <tr *ngFor="let m of list">
                               <th>{{m.id}}</th>
                              <th >{{m.nom}}</th>
                              <th >{{m.prenom}}</th>
                              <th>{{m.adresse}}</th>
                              
                            <th>
                              <a  (click)="onDelete(m.id)" class="btn btn-danger" ><i class="fas fa-trash-alt"  ></i>supprimer </a> 
                            </tr>
                         
                      </tbody>
                  </table>
                  
              </div>
           
          </div>
         
      </div>
  </div>
</section>
