<body  >

    <div class="container">
  
      <!-- Outer Row -->
      <div class="row justify-content-center " >
  
        <div class=" col-md-9">
  
          <div class="jumbotron jumbotron-fluid shadow-lg   rounded" style="background-color: rgba(128, 0, 128, 0.596); margin-top: 100px; box-shadow: black;" >
            <div class="container">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row"  >
                
                <div class="col-lg-8 offset-lg-2" >
                 
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                    </div>
                    <form class="user " (ngSubmit)="connexion()" #myform="ngForm" >
                      <div class="form-group">
                        <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." [(ngModel)]="user.email" name="email"  #email="ngModel" type="email"  >
                        
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" [(ngModel)]="user.mdp" name="mdp"  #mdp="ngModel"   >
                        
                      </div>
                      <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                          <input type="checkbox" class="custom-control-input" id="customCheck">
                          <label class="custom-control-label" for="customCheck">Remember Me</label>
                        </div>
                      </div>
                      <a  class="btn btn-primary btn-user btn-block" (click)="connexion()" style="background-color: rgb(120, 120, 238)">
                        Login
                      </a>
                     
                    
                   
                    </form>
                    <hr>
                    <div class="text-center">
                      <a class="small" [routerLink]="['/forgetPass']" routerLinkActive="router-link-active" style="color: black;" >Forgot Password?</a>
                    </div>
                    <div class="text-center">
                      <a class="small" [routerLink]="['/register']" routerLinkActive="router-link-active" style="color: black;">Create an Account!</a>
                    </div>
                  </div>
                </div>
           
            </div>
         
          </div>
        </div>
  </div>
      </div>
  
    </div>

  </body>
<div >
