 

 <section>
<h1 class="text-center" style="margin-top: 20px;"><i class="fas fa-map-marker-alt"></i>Position livreurs</h1>
<div class="map-wrapper" style="margin-top: 80px;">
    <div class="map-border">
        <div id="map"></div>
    </div>
</div>

</section>

 
<div  style="margin-top: 300px;">

<!--livreur-->
<section class="shopping-cart spad" >
  <div class="container">
      <div class="row">
      
          <div class="col-lg-8">
              <div class="cart-table">
                <h3 class="text-center"> Les cas d'accidents </h3>
                  <table>  
                      <thead>
                         <tr>
                        <th>Id</th>
                         <th>adresse</th>
                         <th>adresse</th>  

                          </tr>
                      </thead>
                      <tbody>
                         
                          <tr >
                               <th>1</th>
                              <th >mahdia</th>
                              <th> 
                              <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">....</label>
                              </div>
                            </th>
                          </tr>
                         
                      </tbody>
                  </table>
                  
              </div>
           
          </div>
         
      </div>
  </div>
</section>
</div>